<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>存档 - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body class="lh-copy dark-gray pa0 f6 sans-serif bg-super-white">
    {% include header.html %}
    <div class="mw7 bg-white mt4 mb3 center br2-ns bt bb ba-ns b--light-gray">
      {% include links.html %}
      <main class="tl f6 relative pa4 pa5-ns overflow-hidden">
        <section class="post archive">
          <div>
            {{ content }}
          </div>
        </section>
      <//main>
    </div>
    {% include footer.html %}
  </body>
</html>
